* {
  margin: 0;
}

:root {
  --primary-color: teal;
  --secondary-color: #b2babb;
  --tertiary-color: #20292f;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: 4px solid var(--tertiary-color);
}

.main-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: var(--secondary-color);
  margin: 35px;
  box-shadow: 0 0 15px var(--tertiary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
}

header h1 {
  color: var(--primary-color);
  font-style: oblique;
  font-size: 40px;
}

.left-header-container {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}

nav a {
  font-style: oblique;
  color: var(--secondary-color);
  padding: 25px 20px;
  font-size: 15px;
  text-shadow: 0 0 10px var(--tertiary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

nav a:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 5px;
  text-shadow: 0 0 10px var(--primary-color);
}
.main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.image-container {
  height: 196px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid var(--tertiary-color);
  overflow: hidden;
}

.image {
  height: 100%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
}

.page-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.page-section h2 {
  color: var(--tertiary-color);
  font-size: 75px;
  border-bottom: 3px solid var(--primary-color);
}

#about h2 {
  margin: 0px 0px 20px 0px;
}

.about-subtext-container {
  margin: 20px 0px;
  border: 5px solid var(--primary-color);
  background: var(--tertiary-color);
  height: 150px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#about p {
  font-size: larger;
  color: var(--secondary-color);
}

#about p span {
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
}

#work {
  display: flex;
  justify-content: center;
  padding: 0px 30px 30px 30px;
}

#work h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.run-buddy-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-container {
  width: 545px;
  margin-top: 30px;
  padding-top: 150px;
  border: 5px solid var(--primary-color);
  background-image: url(../imgs/02-run-buddy.jpg);
}

.flex-item {
  height: 120px;
  width: 250px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  text-decoration: none;
}

.a-night-in {
}

footer {
  display: flex;
}

footer.page-section h2 {
  background: var(--primary-color);
  border: 4px solid var(--tertiary-color);
  border-radius: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-style: oblique;
  text-shadow: 0 0 10px var(--secondary-color);
  text-decoration: none;
  color: var(--tertiary-color);
}

footer a:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 3px;
}

@media screen and (max-width: 1250px) {
  header {
    flex-wrap: wrap;
  }
  nav {
    width: 100%;
    justify-content: center;
  }
  .image-container {
    border-bottom: 4px solid var(--tertiary-color);
  }
}

@media screen and (max-width: 980px) {
  .jumbotron {
    justify-content: center;
  }

  nav {
    padding-top: 25px;
    justify-content: center;
  }

  .flex-container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .contact-info {
    flex-wrap: wrap;
  }
  .contact-info a {
    width: 100%;
    margin-top: 20px;
  }
  .page-section h2 {
    font-size: 40px;
    text-align: center;
  }
  #work h2 {
    font-size: 40px;
    text-align: center;
    display: unset;
  }
  .main-header-container {
    border-radius: 0px;
    margin: 0px;
    width: 100%;
  }
  header h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  header {
    width: 100%;
  }
}
