* {
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: whitesmoke;
}

header {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

header h1 {
  padding: 25px;
  background: #b2babb;
  color: teal;
  font-style: oblique;
  margin-left: 350px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  font-style: oblique;
  color: #b2babb;
  padding: 25px 10px;
  font-size: 1.2vw;
}

.image {
  width: 200px;
  height: 147px;
  border-radius: 8px;
  border: solid 5px #b2babb;
  display: flex;
  position: absolute;
  top: 0px;
}
